body{
  background-image: url("./background.jpg");
  color: white;
}

.divCont{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.searchBarDiv{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.searchBar{
  justify-content: center;
  display: flex;
  width: 99%;
}

.defaultCenter{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

.videoPlayer{
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}
