body{
  background-image: url("./background.jpg");
  color: white;
  background-size: 100% ;
}

.divCont{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.streamerBar{
  padding: 10px;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 1px;
  position: relative;
  float: left;
  width: 110px;
  height: 100%;
}

.defaultStreamerBarItem{
  background-color: #1a1a1a;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.renderedStreamerBarItem{
  background-color: #c500ab;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.streamerAddButton{
  position: relative;
  float: right;
}

.searchBarDiv{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.searchBar{
  position: relative;
  justify-content: center;
  display: flex;
  width: 700px;
}

.defaultCenter{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

.videoPlayer{
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.playerContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

/* .player-wrapper {
  width: auto; 
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
} */