body{
  background-image: url("./background.jpg");
  color: white;
  background-size: 100% ;
}
.vidCont{
  display: flex;
  flex-direction: row;
}

.streamerBar{
  float: right;
  padding: 10px;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: 84%;
  height: 100%;
  overflow: scroll;
  scrollbar-color: #39125a #242424;
  background-color: #353535;
}

.shownSidebarDiv{
  z-index: 1000;
  right: 0px;
  position: absolute;
  display: flex;  
  flex-direction: column;
  float: right;
  width: 7%;
  height: 100%;
}
.hiddenSideBar{
  z-index: 1000;
  right: 0px;
  position: absolute;
  display: flex;  
  flex-direction: column;
  float: right;
  width: 7%;
}
.showBarButton{
  float: right;
  width: 100%;
  background-color: #353535;
  color:  #a65be4
}
.defaultButton{
  background-color: #353535;
  color:  #a65be4;
  height: 20px
}
.defaultStreamerBarItem{
  background-color: #1a1a1a;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.renderedStreamerBarItem{
  background-color: #591b8b;
  border-color: #5e5e5e;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.streamerAddButton{
  position: relative;
  float: right;
}

.searchBarDiv{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.searchBar{
  position: relative;
  justify-content: center;
  display: flex;
  width: 700px;
  background-color: #5c5c5c;
  color: #ffffff;
}

.defaultCenter{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

.videoPlayer{
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.playerContainer{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}