

body{
  background-image: url("./background.jpg");
  color: white;
}

.divCont{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.defaultCenter{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 3px;
}

.videoPlayer{
  position: relative;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}